<% layout("/layouts/boilerplate") -%>
<div class="row">
    <div class="col-8 offset-2">
        <h2 class="mb-3 mt-3">Listing details:</h2>
    <div class="card" >
    <img src="<%=list.image%>" class="card-img-top list-img mb-3" alt="...">
    <div class="card-body">
    <h5 class="card-title" style="text-decoration: underline;"><%=list.title%></h5>
    <p class="card-text"><%=list.description%> <br>
        <b>Price:</b>&#8377;<%=list.price.toLocaleString("en-IN")%> <br>
        <b>Location:</b> <%=list.location%> <br>
        <b>Country: </b><%=list.country%>
    </p>
  </div>
        </div>
    <div class="btns mb-3">
    <form action="/listing/<%=list.id%>/edit" method="get">
        <button class="btn btn-dark eu-btn ">Update</button>
    </form>
    <form action="/listing/<%=list._id%>?_method=DELETE" method="post">
        <button class="btn btn-dark eu-btn ">Delete</button>
    </form>
</div>
    </div>
    
</div>


    


